<footer class="pure-g">
    <div class="pure-u-1-2">
        <div>
            <p>Retrouvez moi au 7 rue de Passy :</p>
        </div>
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2763.278795572663!2d-1.1991940840365392!3d46.16510567911537!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48015489e5277683%3A0xa558ef562c9cf11e!2s7%20Rue%20de%20Passy%2C%2017000%20La%20Rochelle!5e0!3m2!1sfr!2sfr!4v1673532855605!5m2!1sfr!2sfr" width="450" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <div class="pure-u-1-2">
        Mes Résaux sociaux :
        <div>Facebook</div>
        <div>Instagram</div>
    </div>
</footer>