{% extends 'base.html.twig' %}

{% block title %}Prestations{% endblock %}
{% block menu %}
    {% include '/includes/menu.html.twig' %}
{% endblock %}
{% block body %}
    {% if prestations %}
        {% for prestation in prestations %}
            <div>
                <p>
                    <a href="{{ path('app_blog_prestation_detail', {id: prestation.id}) }}">
                        {{ prestation.name }}
                    </a>
                </p>
                <p>{{ prestation.description }}</p>
                <p>{{ prestation.longDescription }}</p>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
