/*body {*/
/*    background-color: lightgray;*/
/*}*/

@font-face {
    font-family: "Moon dance";
    src: url(../fonts/Moon_Dance/MoonDance-Regular.ttf) format("TrueType");
}


#app-main-title{
    font-family: 'Moon dance';
}

#app-menu{
    display: flex;
    justify-content: space-around;
}

.customFont {
    font-family: "Moon dance", Verdana, Tahoma, serif;
}

